.continer {
 
 
    padding: 0 5px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: top; */
}

.back {
    width: 20vw;
}

input {
    width: 97%;
    margin-top: 30px;
    text-align: center;
    height: 4vh;
}

.sound {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
    width: 100%;
}

.audio {
    width: 20vw;
}

label {
    display: block;
    font-size: x-large;
    text-align: center;
}